# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [34]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [35]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [37]:
#  1. Get the total rides for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]

#drivers_city_df = pyber_data_df[pyber_data_df["city"]]

In [38]:
# 1a)
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides.head()

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [47]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]

total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [48]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [70]:
#  4. Get the average fare per ride for each city type. 
import numpy as np
import scipy.stats as sts

urban_avg_fare_per_ride = urban_fare_count / urban_ride_count
suburban_avg_fare_per_ride = suburban_fare_count / suburban_ride_count
rural_avg_fare_per_ride = rural_fare_count / rural_ride_count

In [71]:
# 4.1
avg_fares_per_ride = pyber_data_df.groupby(["type"]).mean()["ride_id"]
avg_fares_per_ride

type
Rural       4.647746e+12
Suburban    4.971015e+12
Urban       4.873485e+12
Name: ride_id, dtype: float64

In [30]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver = urban_fare_count / urban_driver_count
suburban_avg_fare_per_driver = suburban_fare_count / suburban_driver_count
rural_avg_fare_per_driver = rural_fare_count / rural_driver_count

In [35]:
# 5.1
avg_fares_per_driver = pyber_data_df.groupby(["type"]).mean()["fare"]
avg_fares_per_driver

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [74]:
# 5A
Avg_per_ride = (urban_avg_fare_per_ride, suburban_avg_fare_per_ride, rural_avg_fare_per_ride)
Avg_per_ride

(city
 Amandaburgh            24.641667
 Barajasview            25.332273
 Carriemouth            28.314444
 Christopherfurt        24.501852
 Deanville              25.842632
                          ...
 West Patrickchester    28.233125
 West Robert            25.123871
 West Samuelburgh       21.767600
 Williamsstad           24.362174
 Williamsview           26.599000
 Length: 66, dtype: float64,
 city
 Barronchester         36.422500
 Bethanyland           32.956111
 Brandonfort           35.437368
 Colemanland           30.894545
 Davidfurt             31.995882
 East Aaronbury        25.661111
 East Danielview       31.560588
 East Kentstad         29.823077
 East Marymouth        30.835185
 Grayville             27.763333
 Josephside            32.858148
 Lake Ann              30.890000
 Lake Omar             28.075000
 Lake Robertside       31.262000
 Lake Scott            31.886111
 Lewishaven            25.241667
 Lewisland             34.614118
 Mezachester           30.760000
 Myersshire            30.203125
 New Olivia            34.054118
 New Raymond           27.961818
 New Shannonberg       28.378235
 Nicolechester         30.909474
 North Jeffrey         29.242308
 North Richardhaven    24.704286
 North Timothy         31.262000
 Port Shane            31.077895
 Rodriguezview         30.745333
 Sotoville             31.980000
 South Brenda          33.964583
 South Teresa          31.220455
 Veronicaberg          32.828235
 Victoriaport          27.780000
 West Hannah           29.547619
 West Kimmouth         29.871500
 Williamsonville       31.875000
 dtype: float64,
 city
 Bradshawfurt         40.064000
 Garzaport            24.123333
 Harringtonfort       33.470000
 Jessicaport          36.013333
 Lake Jamie           34.358333
 Lake Latoyabury      26.061818
 Michaelberg          34.997500
 New Ryantown         43.278333
 Newtonview           36.745000
 North Holly          29.130000
 North Jaime          30.802500
 Penaborough          35.246000
 Randallchester       29.742000
 South Jennifer       35.264286
 South Marychester    41.870000
 South Saramouth      36.160000
 Taylorhaven          42.263333
 West Heather         33.890000
 dtype: float64)

In [41]:
#  6. Create a PyBer summary DataFrame. 
PyBer_summary_df = pd.DataFrame({
    "Total Rides": urban_ride_count,
    "Total Drivers": urban_driver_count,
    "Total Fares": urban_fare_count,
    "Average Fare per Ride": urban_avg_fare_per_ride,
    "Average Fare per Driver": urban_avg_fare_per_driver})

PyBer_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
city,,,,,
Amandaburgh,18,216,443.55,24.641667,2.053472
Barajasview,22,572,557.31,25.332273,0.974318
Carriemouth,27,1404,764.49,28.314444,0.544509
Christopherfurt,27,1107,661.55,24.501852,0.597606
Deanville,19,931,491.01,25.842632,0.527401

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.

In [16]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 14. Check that the datatype for the index is datetime using df.info()

In [18]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')